body {
    font-family: 'Manrope', sans-serif;
  }
.lab-results-container {
    width: 330px;
    margin-top: 5px;
    border: 1px solid #ddd; /* Optional: For border around the box */
    padding: 20px;
    padding-top: 0;
    overflow-y: scroll;
    border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .headinglab {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    margin-bottom: 3px;
    
  }
  
  .lab-results-list {
    max-height: 260px; /* Give room for the heading and some padding */
  }
  
  .lab-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    /* background-color: #f4f4f4; Optional: Light background for the list items */
    border-radius: 8px;
    font-weight: 400;
  }
  
  .result-name {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #0b0a0a;
  }
  
  .download-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  